.cart {
    margin-top: 100px;
  }
  
  .cart-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(2vw, 12px);
  }
  
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    margin: 10px 0;
    color: black;
  }
  
  .cart-item-image {
    width: 50px;
  }
  
  .cart-item button {
    cursor: pointer;
  }
  
  .cart-bottom {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;

  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
  }
  
  .total-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }
  
  .promocode {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
  }
  
  .promocode p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .promocode-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .promocode-input input{
    padding: 5px 10px;
    
  }
  .promocode-input button {
    padding: 5px 10px;
    cursor: pointer;
    
    background-color: black;
    color: white;
  }
  .btn{
    background-color: tomato;
    padding: 10px 10px;
    border: 0;
     border-radius: 10px;
     color: white;
     font-size: 20px;
     cursor: pointer;
  }
  .btn:hover{
    color: blue;
  }